<!DOCTYPE html>
<html>
<head>
  <title>Rapture</title>
  <link href="/WinJS/css/ui-dark.css" rel="stylesheet">
  <script src="/WinJS/js/WinJS.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="app">
    <div class="splitView" data-win-control="WinJS.UI.SplitView">
        <!-- Pane area -->
        <div>
            <div class="header">
                <button id="MenuButton" class="win-splitview-button" onclick="App.togglePane();"></button>
                <div class="title">Rapture</div>
            </div>

            <div class="nav-commands">
            	<%= link_to root_path, :class => 'win-splitview-link' do%>
					<div data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Accueil', icon: 'home'}"></div>
            	<% end %>

				<% if user_signed_in? %>
	            	<%= link_to edit_user_registration_path, :class => 'win-splitview-link' do%>
	                	<div data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Profil', icon: 'contactinfo', tooltip: 'Consulter le profil de <%= current_user.email %>'}"></div>
	                <% end %>

	            	<%= link_to destroy_user_session_path, :class => 'win-splitview-link' do%>
	                	<div data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Déconnexion', icon: 'blockcontact', tooltip: 'Se déconnecter de <%= current_user.email %>'}"></div>
	                <% end %>
                <% else %>
	            	<%= link_to new_user_registration_path, :class => 'win-splitview-link' do%>
	                	<div data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Inscription', icon: 'addfriend', tooltip: 'Créer un compte'}"></div>
	                <% end %>

	            	<%= link_to new_user_session_path, :class => 'win-splitview-link' do%>
	                	<div data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Connexion', icon: 'contact', tooltip: 'Se connecter'}"></div>
	                <% end %>                
				<% end %>

            	<%= link_to root_path, :class => 'win-splitview-link' do%>
                	<div data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Paramètres', icon: 'settings'}"></div>
                <% end %>

                <%#= link_to 'Edit profile', edit_user_registration_path, data: { "win-control": "WinJS.UI.NavBarCommand", "win-options": "{ label: 'Accueil', icon: 'home'}" } %>
            </div>
        </div>

        <!-- Content area -->
        <div class="contenttext"><h2>SplitView Content area</h2>
			<%= yield %>
			<% if notice %>
			  <p class="alert alert-success"><%= notice %></p>
			<% end %>
			<% if alert %>
			  <p class="alert alert-danger"><%= alert %></p>
			<% end %>
        </div>
    </div> 
</div>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
