<!DOCTYPE html>
<html>
<head>
  <title>Rapture</title>
  <link href="/WinJS/css/ui-dark.css" rel="stylesheet">
  <script src="/WinJS/js/WinJS.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="app">
    <div class="splitView" data-win-control="WinJS.UI.SplitView">
        <!-- Pane area -->
        <div>
            <div class="header">
                <button id="MenuButton" class="win-splitview-button" onclick="App.togglePane();"></button>
                <div class="title">Rapture</div>
            </div>

            <div class="nav-commands">
              <%#= link_to '#search', :class => 'win-splitview-link' do%>
                  <!-- <div data-win-control="WinJS.UI.NavBarCommand" onclick="App.navigation.search();" data-win-options="{ label: 'Rechercher', tooltip:'Rechercher un film', icon: 'find'}"></div> -->
              <%# end %>

              <!-- <hr class="win-command-horizontal" data-win-control="WinJS.UI.MenuCommand" data-win-options="{type: 'separator'}" /> -->

            	<%= link_to '#popular', :class => 'win-splitview-link' do%>
					        <div data-win-control="WinJS.UI.NavBarCommand" onclick="App.navigation.showHome('popular');" data-win-options="{ label: 'Film tendance', tooltip:'Voir les films populaires du moment', icon: 'go'}"></div>
            	<% end %>

              <%= link_to '#now_playing', :class => 'win-splitview-link' do%>
                  <div data-win-control="WinJS.UI.NavBarCommand" onclick="App.navigation.showHome('now_playing');" data-win-options="{ label: 'Dans les salles', tooltip:'Voir les films actuellement disponible dans les salles', icon: 'right'}"></div>
              <% end %>

              <%= link_to '#upcoming', :class => 'win-splitview-link' do%>
                  <div data-win-control="WinJS.UI.NavBarCommand" onclick="App.navigation.showHome('upcoming');" data-win-options="{ label: 'A venir', tooltip:'Voir les films à venir', icon: 'redo'}"></div>
              <% end %>

              <%= link_to '#top_rated', :class => 'win-splitview-link' do%>
                  <div data-win-control="WinJS.UI.NavBarCommand" onclick="App.navigation.showHome('top_rated');" data-win-options="{ label: 'Les incontournables', tooltip:'Voir les films les plus cultes', icon: 'slideshow'}"></div>
              <% end %>

              <hr class="win-command-horizontal" data-win-control="WinJS.UI.MenuCommand" data-win-options="{type: 'separator'}" />

      				<% if user_signed_in? %>
	            	
                <%= link_to '#mymovies', :class => 'win-splitview-link' do%>
                    <div data-win-control="WinJS.UI.NavBarCommand" onclick="App.navigation.showHome('mymovies');" data-win-options="{ label: 'Mes films', tooltip:'Voir les films de ma liste', icon: 'favorite'}"></div>
                <% end %>
                
                <%= link_to '#suggestme', :class => 'win-splitview-link' do%>
                    <div data-win-control="WinJS.UI.NavBarCommand" onclick="App.navigation.showHome('suggestme');" data-win-options="{ label: 'MovieAdvisor©', tooltip:'A court de film ?', icon: 'shuffle'}"></div>
                <% end %>

                <hr class="win-command-horizontal" data-win-control="WinJS.UI.MenuCommand" data-win-options="{type: 'separator'}" />

                <%= link_to "##{edit_user_registration_path}", :class => 'win-splitview-link' do%>
                	  <div class="navbarCommand" data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Profil', icon: 'contactinfo', tooltip: 'Consulter le profil de <%= current_user.email %>'}" onclick="App.navigation.navigate('<%=edit_user_registration_path%>');"></div>
                <% end %>

	            	<%= link_to "#{destroy_user_session_path}", :class => 'win-splitview-link', :method => :delete do%>
                	  <div data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Déconnexion', icon: 'blockcontact', tooltip: 'Se déconnecter de <%= current_user.email %>'}"></div>
      	        <% end %>

              <% else %>

      	       	<%= link_to "##{new_user_registration_path}", :class => 'win-splitview-link' do%>
      	            <div data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Inscription', icon: 'addfriend', tooltip: 'Créer un compte'}" onclick="App.navigation.navigate('<%=new_user_registration_path%>');"></div>
      	        <% end %>

      	        <%= link_to "##{new_user_session_path}", :class => 'win-splitview-link' do%>
      	          	<div data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Connexion', icon: 'contact', tooltip: 'Se connecter'}" onclick="App.navigation.navigate('<%=new_user_session_path%>');"></div>
      	        <% end %>

      				<% end %>
              
              <!-- <hr class="win-command-horizontal" data-win-control="WinJS.UI.MenuCommand" data-win-options="{type: 'separator'}" /> -->

            	<%#= link_to root_path, :class => 'win-splitview-link' do%>
                	<!-- <div data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Paramètres', icon: 'settings'}"></div> -->
              <%# end %>
            </div>
        </div>

        <!-- Content area -->
        <div class="win-splitview-content">
          <div>
            <div id="searchBox"
                 data-win-control="WinJS.UI.SearchBox"
                 data-win-options="{placeholderText: 'Taper le nom du film', focusOnKeyboardInput: false}"
                 data-win-bind="onquerysubmitted: App.action.onQuerySubmitted">
            </div>
          </div>
          <div class="win-splitview-content win-splitview-content-primary">
            <% if notice %>
              <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert alert-danger"><%= alert %></p>
            <% end %>
            <%= yield %>
          </div>
          <div class="win-splitview-content-secondary">
          </div>
        </div>
    </div> 
</div>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
