<p id="notice"><%= notice %></p>

<p>
  <strong>Id film:</strong>
  <%= @film.id_film %>
</p>

<p>
  <strong>Seen:</strong>
  <%= @film.seen %>
</p>

<p>
  <strong>User:</strong>
  <%= @film.user.to_json %>
</p>

<p>
  <strong>Titre original:</strong>
  <%= @film.detail['original_title'] %>
</p>

<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
